*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
    font-family: plain-light;
}

@font-face {
    font-family: plain-light;
    src: url(./plain-light-webfont.woff);
}
@font-face {
    font-family: plain-regular;
    src: url(./plain-regular-webfont.woff);
}
@font-face {
    font-family: silkSerifLight;
    src: url(./silkserif-lightitalic-webfont.woff);
}
@font-face {
    font-family: silkSerifReg;
    src: url(./silkserif-regularitalic-webfont.woff);
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    background-color: #151515;
}

#loader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: black;
    padding: 20vh 8vw;
    display: none;
}

#counter{
    display: flex;
    align-items: center;
    width: 6vw;
    margin-left: 4.5vw;
    margin-right: 1vw;
}
#counter h3{
    font-size: 3.5vw;
    font-family: silkSerifLight;
    font-weight: 100;
}
.load h4{
    font-size: 3.5vw;
    font-family: silkSerifLight;
    font-weight: 100;
    margin-right: 4vw;
}
.load{
    margin-bottom: 1px;
    height: 14vh;
    overflow: hidden;
    display: flex ;
    align-items: center;
}
.load h1{
    font-size: 7vw;
    text-transform: uppercase;
}

#now{
    margin-left: 3vw;
    font-family: plain-light;
    -webkit-text-stroke:1px transparent;
    color: white;
    font-weight: 100;
    font-size: 7vw;
    animation: anim1 1.5s linear .9s infinite;
}

#wait{
    margin-top: 8vh;
    padding-left: 21vw;
    font-size: 1.3vw;
}

#page1{
    height: 90vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}





@keyframes anim1 {
    0%{
        font-family: plain-light;
        color: #fff;
        font-weight: 100;
        -webkit-text-stroke:1px transparent;
    }
    45%{
        font-family: plain-light;
        color: #fff;
        font-weight: 100;
        -webkit-text-stroke:1px transparent;
        opacity: 0;
    }
    46%{
        font-family: silkSerifLight;
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 100;
        opacity: 0;
    }
    50%{
        font-family: silkSerifLight;
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 100;
        opacity: 1;
    }
    95%{
        font-family: silkSerifLight;
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 100;
        opacity: 0;
    }
    96%{
        font-family: plain-light;
        color: #fff;
        font-weight: 100;
        -webkit-text-stroke:1px transparent;
        opacity: 0;
    }
    100%{
        font-family: plain-light;
        color: #fff;
        font-weight: 100;
        -webkit-text-stroke:1px transparent;
        opacity: 1; 
    }
    
}

#nav{
    height: 14vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 5vw;
}
#leftNav{
    display: flex;
    gap: 19vw;
}
#leftNav h6{
    font-size: 0.9vw;
    font-weight: 500;
}
#rightNav{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.4vw;
}
#rightNav h5{
    font-size: 0.95vw;
    font-weight: 500;
}
#title{
    padding-left: 28vw;
    padding-top: 10vw;
}
#title h1{
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 600;
    text-transform: uppercase;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 2vw;
    padding-bottom: 14vw;
    padding-left: 28vw;
}
#video-container{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
}
#video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
}

.mousefollower{
    height: 40px;
    width: 40px;
    background-color: transparent !important;
    mix-blend-mode: normal;
    border: .8px solid #fff;
    transform: scale(1) translate(-35%,-35%)  !important;
}
#play-btn{
    height: 10vw;
    position: absolute;
    width: 10vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    left: 70%;
    top: -15%;
    z-index: 9;
}
#play-btn i{
    font-size: 2.5vw;
}