*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
    font-family: plain-light;
}

@font-face {
    font-family: plain-light;
    src: url(./plain-light-webfont.woff);
}
@font-face {
    font-family: plain-regular;
    src: url(./plain-regular-webfont.woff);
}
@font-face {
    font-family: silkSerifLight;
    src: url(./silkserif-lightitalic-webfont.woff);
}
@font-face {
    font-family: silkSerifReg;
    src: url(./silkserif-regularitalic-webfont.woff);
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    background-color: #151515;
}

#loader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: black;
    padding: 20vh 8vw;
    display: none;
}

#counter{
    display: flex;
    align-items: center;
    width: 6vw;
    margin-left: 4.5vw;
    margin-right: 1vw;
}
#counter h3{
    font-size: 3.5vw;
    font-family: silkSerifLight;
    font-weight: 100;
}
.load h4{
    font-size: 3.5vw;
    font-family: silkSerifLight;
    font-weight: 100;
    margin-right: 4vw;
}
.load{
    margin-bottom: 1px;
    height: 14vh;
    overflow: hidden;
    display: flex ;
    align-items: center;
}
.load h1{
    font-size: 7vw;
    text-transform: uppercase;
}

#now{
    margin-left: 3vw;
    font-family: plain-light;
    -webkit-text-stroke:1px transparent;
    color: white;
    font-weight: 100;
    font-size: 7vw;
    animation: anim1 1.5s linear .9s infinite;
}

#wait{
    margin-top: 8vh;
    padding-left: 21vw;
    font-size: 1.3vw;
}

#page1{
    height: 90vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}





@keyframes anim1 {
    0%{
        font-family: plain-light;
        color: #fff;
        font-weight: 100;
        -webkit-text-stroke:1px transparent;
    }
    45%{
        font-family: plain-light;
        color: #fff;
        font-weight: 100;
        -webkit-text-stroke:1px transparent;
        opacity: 0;
    }
    46%{
        font-family: silkSerifLight;
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 100;
        opacity: 0;
    }
    50%{
        font-family: silkSerifLight;
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 100;
        opacity: 1;
    }
    95%{
        font-family: silkSerifLight;
        -webkit-text-stroke:1px #fff;
        color: transparent;
        font-weight: 100;
        opacity: 0;
    }
    96%{
        font-family: plain-light;
        color: #fff;
        font-weight: 100;
        -webkit-text-stroke:1px transparent;
        opacity: 0;
    }
    100%{
        font-family: plain-light;
        color: #fff;
        font-weight: 100;
        -webkit-text-stroke:1px transparent;
        opacity: 1; 
    }
    
}

#nav{
    height: 14vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 5vw;
}
#leftNav{
    display: flex;
    gap: 19vw;
}
#leftNav h6{
    font-size: 0.9vw;
    font-weight: 500;
}
#rightNav{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.4vw;
}
#rightNav h5{
    font-size: 0.95vw;
    font-weight: 500;
}
#title{
    padding-left: 28vw;
    padding-top: 10vw;
}
#title h1{
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 600;
    text-transform: uppercase;
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 2vw;
    padding-bottom: 14vw;
    padding-left: 28vw;
}
#video-container{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
}
#video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
}

.mousefollower{
    height: 40px;
    width: 40px;
    background-color: transparent !important;
    mix-blend-mode: normal;
    border: .8px solid #fff;
    transform: scale(1) translate(-35%,-35%)  !important;
}
#play-btn{
    height: 10vw;
    position: absolute;
    width: 10vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    left: 70%;
    top: -15%;
    z-index: 9;
}
#play-btn i{
    font-size: 2.5vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
#page3title{
    width: 100vw;
    padding-left: 28vw;
    padding-right: 0vw;
    overflow: hidden;
    margin-bottom: 20vh;
}
#page3title h1{
    font-size: 7vw;
    font-weight: 600;
    margin-bottom: 9vh;
    position: relative;
}
#line{
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform-origin: 0%;
}
#page3title h1::before{
    content: "02";
    position: absolute;
    top: "0%";
    left: "0%";
    font-size: 3vw;
    font-family: silkSerifLight;
    font-weight: 300;
    font-style: italic;
    transform: translate(-250%,20%);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.card .uppercard{
    height: 6vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2vw;
}
.uppercard h2{
    font-size: 2.4vw;
    width: max-content;
}
.card .image-container{
    height: 85%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#lowercard{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1vw;
    font-weight: 300;
}
.card #lineCard{
    height: 1px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

#card1{
    height: 39.04vw;
    width: 22.5vw;
}
#card2{
    width: 32vw;
    height: 50vw;
}
#columns{
    padding-left: 4vw;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
#column1{
    width: 22.5vw;
}
#column2{
    width: 32vw;
}
#column3{
    width: 32vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#circle{
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #fff solid;
    margin-left: 7vw;
    margin-top: 40vh;
    position: relative;
}
#circle svg{
    height: 120px;
}
#circle .circle-in{
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #000;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    scale: 0;
    transition: all ease 0.5s;
}
.circle-in p{
    color: #000;
    font-weight: 600;
    font-size: 15px;
    transition: all ease 0.5s;
    scale: 0;
    transition-delay: 0.5s;
}
#circle:hover .circle-in{
    scale: 1;
}
#circle:hover .circle-in p{
    scale: 1;
}
#circle2{
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #fff solid;
    margin-top: 25vh;
    position: relative;
}
#circle2 svg{
    height: 120px;
    rotate: -45deg;
}
#circle2 .circle-in{
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #000;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    scale: 0;
    transition: all ease 0.5s;
    z-index: 10;
}
.circle-in p{
    color: #000;
    font-weight: 600;
    font-size: 15px;
    transition: all ease 0.5s;
    scale: 0;
    transition-delay: 0.5s;
}
#circle2:hover .circle-in{
    scale: 1;
}
#circle2:hover .circle-in p{
    scale: 1;
}

#circle3{
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #fff solid;
    margin-top: 60vh;
    position: relative;
    margin-left: 17vh;
}
#circle3 svg{
    height: 120px;
    rotate: -90deg;
}
#circle3 .circle-in{
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #000;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    scale: 0;
    transition: all ease 0.5s;
    z-index: 10;
}
.circle-in p{
    color: #000;
    font-weight: 600;
    font-size: 15px;
    transition: all ease 0.5s;
    scale: 0;
    transition-delay: 0.5s;
}
#circle3:hover .circle-in{
    scale: 1;
}
#circle3:hover .circle-in p{
    scale: 1;
}
#card3{
    width: 32vw;
    height: 58vw;
    margin-top: 20vh;
}
#card4{
    width: 32vw;
    height: 50vw;
    margin-top: 8vh;
}
#card5{
    height: 39.04vw;
    width: 22.5vw;
    margin-top: 60vh;
}
#card6{
    width: 32vw;
    height: 55vw;
    margin-top: 45vh;
}

#page4{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

._canvas_container{
    z-index: 99999 !important;
}

#allProjects{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.4s;
}
#allProjects h5{
    font-size: 1.1vw;
    font-family: silkSerifLight;
    font-weight: 300;
    font-style: italic;
}
#allProjects:hover{
    scale: 0.9;
}